* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a {
  all: unset;
  box-sizing: border-box;
}


:root {
  --bg-1: #ffffff;
  --bg-2: #e6e6e6;
  --bg-3: #cccccc;
  --text: #303030;
  --icon: #505050;
  --icon-hover: #909090;
  scrollbar-color: #00000060 transparent;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: #595959;
    --bg-2: #404040;
    --bg-3: #262626;
    --text: #dcdcdc;
    --icon: #cccccc;
    --icon-hover: #ffffff;
    scrollbar-color: #ffffff60 transparent;
  }
}


.panel {
  background-color: var(--bg-2);
  outline: 1px var(--bg-3) solid;
  overflow: auto;
}

.menu {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;

  &:has(.label:first-child) {
    box-shadow:
      0 -1px 0 0 var(--bg-3),
      0 -1px 0 0 var(--bg-3) inset,
      0 1px 0 0 var(--bg-1) inset;
  }
  
  &.unfinished .label {
    font-weight: bold;
  }
}

.label {
  flex: 1;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;

  &:first-child {
    padding-left: 10px;
  }
}

.icon-btn,
.spacer {
  flex-shrink: 0;
  width:  40px;
  height: 40px;
}
.icon-btn {
  width:  40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon);
  cursor: pointer;

  &:hover:not(:active) {
    color: var(--icon-hover);
  }
  &:focus-visible,
  &:has(:focus-visible) {
    outline: auto;
  }
  
  > i {
    font-size: 20px;
    pointer-events: none;
    user-select: none;
  }

  > input {
    all: unset;
  }
}

.before:has(+ :empty) {
  display: none;
}
:empty + .after {
  display: none;
}


body {
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-template-rows:    1fr;
  grid-template-areas:
    'main aside';
  gap: 1px;
  font-size: 16px;
  font-family: 'Source Sans 3', 'Segoe UI', sans-serif;
  color: var(--text);
  background-color: var(--bg-3);
}
@media only screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows:    50% auto;
    grid-template-areas:
      'main'
      'aside';
  }
}

main {
  grid-area: main;
  grid-template-columns: 1fr;
  grid-template-rows:    40px 1fr;
  display: grid;
  background-color: var(--bg-3);
  
  > header {
    z-index: 1;
    
    .label {
      font-weight: bold;
    }
  }

  .easel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    canvas {
      width:  400px;
      height: 400px;
      background-color: white;
    }
  }
}

aside {
  grid-area: aside;
  z-index: 1;
}