---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/src/styles/global.css">
    <script src="/src/scripts/global.js"></script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <header class="panel">
        <div class="menu">
          <div class="item">
            <span class="label">Drawing: Dog</span>
            <button class="button">
              <i class="material-symbols-outlined">play_arrow</i>
            </button>
            <button class="button">
              <i class="material-symbols-outlined">check</i>
            </button>
          </div>
      </header>
      <div class="easel">
        <canvas></canvas>
      </div>
    </main>
    <aside class="panel">
      <div class="menu">
        <div class="item">
          <span class="label">Pictures</span>
          <button class="button">
            <i class="material-symbols-outlined">add</i>
          </button>
        </div>
        <div class="item">
          <div class="spacer"></div>
          <span class="label">Dog</span>
          <button class="button">
            <i class="material-symbols-outlined">check</i>
          </button>
        </div>
      </div>
      <div class="menu">
        <div class="item">
          <span class="label">Tutorials</span>
          <button class="button">
            <i class="material-symbols-outlined">search</i>
          </button>
        </div>
        <div class="item">
          <div class="spacer"></div>
          <span class="label">Cat</span>
          <button class="button">
            <i class="material-symbols-outlined">arrow_forward</i>
          </button>
        </div>
        <div class="menu">
          <div class="item">
            <span class="label">Camera</span>
            <button class="button">
              <i class="material-symbols-outlined">photo_camera</i>
            </button>
          </div>
          <div class="item">
            <div class="spacer"></div>
            <span class="label">(Debug) Open blank</span>
            <button class="button" id="open-blank">
              <i class="material-symbols-outlined">arrow_forward</i>
            </button>
          </div>
        </div>
      </div>
    </aside>
  </body>
</html>