---
import Gallery from "../components/Gallery.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./styles/details.css">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Animal Trace App</h1>
    <ul>
      <li>Trace pictures and download your drawings</li>
      <li>Look up tutorials and pictures</li>
      <li>Upload your own pictures</li>
      <li>View your drawings in the sidebar</li>
    </ul>
    <h2>Gallery</h2>
    <Gallery></Gallery>
    <br>
    <a href="/app">Launch App</a>
  </body>
</html>